@import 'base.scss';

@w:640px;
.banner{
	width:640px;
	height:222px;
	a{
		width:100%;
		height:100%;
		display:block;
		margin-top:26px;
		img{
			width:640px;
			height:222px;
		}
	}
}
.bg-box{
	width:640px;
	height:824px;
	background:#ebebeb;
	overflow:hidden;
	.icon{
		width:638px;
		height:142px;
		border:1px solid #d3d3d3;
		margin:14px 0px;
		background:#fff;
		nav{
			ul{
				display:flex;
				li{
					flex:1;
					a{
						width:100%;
						height:142px;
						display:block;
						text-align:center;
						overflow:hidden;
						background:url(../img/icon1.png) no-repeat 25px 15px;
						background-size:75px 80px;
						&.two{
							background:url(../img/icon2.png) no-repeat 25px 15px;
							background-size:75px 80px;
						}
						&.three{
							background:url(../img/icon3.png) no-repeat 25px 15px;
							background-size:75px 80px;
						}
						&.four{
							background:url(../img/icon4.png) no-repeat 25px 15px;
							background-size:75px 80px;
						}
						&.five{
							background:url(../img/icon5.png) no-repeat 25px 15px;
							background-size:75px 80px;
						}
						span{
							font-size:16px;
							color:#333;
							margin-top:106px;
							display:block;
						}
					}
				}
			}
		}
	}
	.show{
		width:638px;
		height:274px;
		border:1px solid #d3d3d3;
		background:#fff;
		h3{
			height:58px;
			border-bottom:2px solid #ebebeb;
			font-size:22px;
			color:#000;
			line-height:58px;
			padding-left:27px;
			box-sizing:border-box;
		}
		ul{
			display:flex;
			height:214px;
			li{
				flex:1;
				border-right:1px solid #f3f3f3;
				box-sizing:border-box;
				&.last{
					border-right:0;
				}
				a{
					width:100%;
					height:214px;
					display:block;					
					text-align:center;
					overflow:hidden;
					&.one{
						background:url(../img/show1.png) no-repeat 53px 16px;
						background-size:129px 137px;
					}
					&.two{
						background:url(../img/show2.png) no-repeat 58px 9px;
						background-size:109px 154px;
					}
					&.three{
						background:url(../img/show3.png) no-repeat 22px 45px;
						background-size:153px 89px;
					}
					span{
						font-size:15px;
						color:#000;
						margin-top:180px;
						display:block;
					}
				}
			}
		}
	}
	.introduct{
		width:638px;
		height:366px;
		border:1px solid #f3f3f3;
		background:#fff;
		margin-top:18px;
		h3{
			height:58px;
			border-bottom:2px solid #ebebeb;
			font-size:22px;
			color:#000;
			line-height:58px;
			padding-left:27px;
			box-sizing:border-box;
		}
		.content{
			width:638px;
			height:206px;
			img{
				width:182px;
				height:137px;
				margin-left:40px;
				margin-top:24px;
				margin-right:17px;
			}
			p{
				font-size:8px;
				color:#000;
				text-indent:2em;
				width:350px;
				margin-top:34px;
			}
		}
	}
}
footer{
	width:640px;
	height:90px;
	background:url(../img/footbg.png) no-repeat;
	background-size:640px 90px;
	nav{
		ul{
			display:flex;
			justify-content:center;
			li{
				flex:1;
				a{
					width:100%;
					height:100%;
					display:block;
					text-align:center;
					overflow:hidden;
					background:url(../img/foot1.png) no-repeat 56px 12px;
					background-size:51px 42px;
					&.two{
						background:url(../img/foot2.png) no-repeat 58px 10px;
						background-size:46px 43px;
					}
					&.three{
						background:url(../img/foot3.png) no-repeat 58px 10px;
						background-size:45px 44px;
					}
					&.four{
						background:url(../img/foot4.png) no-repeat 53px 10px;
						background-size:45px 44px;
					}
					span{
						font-size:18px;
						color:#fff;
						margin-top:64px;
						display:block;
					}
				}
			}
		}
	}
}